<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 2</title>
    <style>
        .error {
          color: red;
        }
      </style>
</head>
<body>

    <h1>Shipping Address</h1>

    <form data-th-object="${address}">

        <label for="name">Name</label>
        <input type="text" name="name" data-th-field="*{name}">
        <div data-th-if="${#fields.hasErrors('name')}">
			<span data-th-errors="*{name}" data-th-errorclass="error"></span>
		</div>

        <br><br>

        <label for="address">Address</label>
        <input type="text" name="address" data-th-field="*{address}">
        <div data-th-if="${#fields.hasErrors('address')}">
			<span data-th-errors="*{address}" data-th-errorclass="error"></span>
		</div>

        <br><br>

        <div>
            <button onclick="history.back()">Back</button>
			<button type="submit" formmethod="post" formaction="/checkout">Checkout</button>
        </div>
        
    </form>
    
</body>
</html>